.ventana-open{
position: absolute;
width: 500px;
height: 200px;
left: 0;
right: 0;
margin: auto;
border: 1px solid #000;

}
.ventana-in{
    position: relative;
}
.barra{
    background-color: antiquewhite;
    height: 30px;
    padding: 0 10px;
}
.close{
background-color: red;
height: 40px;
width: 40px;
right: 10;
}